#nav_level1 {
	list-style: none;
	float: left;
	width: 100px;
	padding: 0px;	
}

#nav_level1 a {
	background-size: 100px;
	display: block;
	overflow: hidden;
	width: 100px;
	padding:0px;
	height: 100px;
	text-indent :-9999px;
}

#nav_level2 {
	position: absolute;
	top:0px;
	left:100px;
	float: top;
	height: 100px;
	padding: 0;
	list-style-type:none;
	margin:0;
	padding:0;
}

#nav_level2 li {
	float: left;
}

#nav_level2 a {
	float: left;
	display: block;
	overflow: hidden;
	width: 0;
	padding-left:100px;
	height: 100px;
	background-size: 100px;	
}

#breadcrumbs {
	float: top;
}

main {
	left: 100px;
	top: 100px;
	float: top;
	position: absolute;
}

main .mainpage {
	position: absolute;
	top: -100px;		
}

.content {
	left:100px;
	top: 100px;
}

#Home { background-image: url(/img/Sonnenhuegel.png); } 
#Computer { background-image: url(/img/computer/computer.png); } 
#Database { background-image: url(/img/computer/database.png); }
#Infomarket { background-image: url(/img/computer/infomarket.png); }

#DG { background-image: url(/img/dg/dg.png); }
#Dachboden_gross { background-image: url(/img/dg/gross.png); }
#Dachboden_klein { background-image: url(/img/dg/klein.png); }

#OG { background-image: url(/img/og/og.png); }
#Schlafzimmer { background-image: url(/img/og/schlafzimmer.png); }
#Elternbad { background-image: url(/img/og/elternbad.png); }

#EG { background-image: url(/img/eg/eg.png); }
#Buero { background-image: url(/img/eg/buero.png); }
#Wohnzimmer { background-image: url(/img/eg/wohnzimmer.png); }
#Esszimmer { background-image: url(/img/eg/esszimmer.png); }

#Cameras { background-image: url(/img/mainnav/kameras.png); }
#Rotate { background-image: url(/img/cameras/rotate.png); }