.page {
  display: flex;  
}

.mycontent {
  display: block;
  align-self: flex-start;
  width: 1700px;
}
.main-navigation {
  display: flex;
  flex-direction: column;
}

.sub-navigation {
  display: flex;
  flex-direction: row;
}

.navigation-tile {
  padding-right: 5px;
  width: 100px;
  height: 100px;
  text-indent: -9999px;
}

